nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h1 {
    font-family: "Beau Rivage", cursive;
    font-size: 50px;
  }
  button {
    font-family: "Raleway", sans-serif;
    background: transparent;
    border: 2px solid rgb(65, 65, 65);
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
  }
  .button-clicked {
    background: rgb(65, 65, 65);
    color: white;
  }
}
